<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <!-- 추가적인 스타일링을 위한 CSS 파일 링크를 여기에 추가할 수 있습니다. -->
  <style>
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100vh;
        }

        .login-form {
            text-align: center;
        }

        .login-box {
            width: 300px;
            border: 1px solid #ccc;
            padding: 20px;
        }
    </style>
</head>
<body>
<div class="container">
  <!-- 왼쪽 상단 로고 -->
  <h1>MS</h1>

  <!-- 로그인 폼 -->
  <div class="login-form">
    <div class="login-box">
      <h2>Login</h2>
      <form th:action="${T(com.hypeboy.hypeBoard.enums.EndPoint).LOGIN_ACTION.getPath()}" method="post">
        <label for="username">ID:</label>
        <input type="text" id="username" name="id"  required><br><br>

        <label for="password">PW:</label>
        <input type="password" id="password" name="pwd" required><br><br>

        <input type="submit" class="login-button" value="Login">
      </form>
    </div>
  </div>

  <!-- 회원가입 -->
  <div>
    <a href="/registration">회원가입</a>
  </div>

  <!-- 추가적인 내용이나 스타일을 여기에 추가할 수 있습니다. -->
</div>
</body>
</html>
